@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  padding: 0px;
  box-sizing: border-box;
  background-color: whitesmoke;
  min-height: 100vh;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
} 

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

/* NAVBAR */

.navBar{
  padding: 20px 0;
  border-bottom: 1px solid grey;
  width: 90%;
  margin: auto;
}

.nameLogoContainer{
  width: 20%;
  float: left;
  padding: 10px;
}

.navLinkContainer{
  float: right;
  width: 50%;
}

.navLink{
  float: left;
  margin: 20px;
}

a:link, 
a:visited{
  color: grey;
  text-decoration: none;
}

a:hover{
  color: sandybrown;
}

/* BODY */

.bodyContainer{
  text-align: justify;
  padding: 10px 50px;
  width: 90%;
  margin: auto;
}

/* ABOUT CONTAINER */

.aboutMeContainer{
  width: 90%;
  padding: 10px;
  margin: 10px auto;
}

.objectiveContainer{
  padding: 10px;
  margin: 10px auto;
  width: 90%;
}

.containerOne{
  padding: 10px;
  margin: 10px auto;
  width: 90%
}

.workHighlightsContainer,
.educHighlightsContainer,
.awardHighlightsContainer{
  border: 1px solid grey;
  width: 25%;
  padding: 20px;
  text-align: left;
  float: left;
  margin: 0 20px;
  /* height: 20vh; */
}

.bulletedContainer{
  margin: 10px;
}

/* CONNECT */

.contactContent{
  width: 40%;
  float: left;
  padding: 30px;
}

.contentTwo{
  margin: 20px;
}

.imgConnectContainer{
  width: 10%;
  float: left;
  margin: 15px;
}

.infoContainer{
  float: left;
  width: 70%;
  margin: 20px;
}

form{
  float: right;
  width: 50%;
  padding: 10px;
}

input{
  width: 90%;
  margin: 10px;
  height: 5vh;
  border: whitesmoke;
  background-color: whitesmoke;
  border-bottom: 1px solid grey;
}

button{
  width: 90%;
  margin: 10px;
  height: 5vh;
  border: 1px solid grey;
  background-color: whitesmoke;
  border-radius: 10px;
  color: gray;
}

/* SKILLS */

.skillsContainer{
 padding: 1%;
}

.skillsContent{
  float: left;
  border: 1px solid grey;
  margin: 1%;
  padding: 1%;
  width: 20%;
  min-height: 50vh;
  text-align: left;
  opacity: 0.5;
  transition: 0.3s;
}

.skillsContent:hover{
  opacity: 1;
  background-color: black;
  color: whitesmoke;
}

.skills{
  margin: 10px;
}